## Visual Studio temporary files and folders

# Visual Studio cache/options directory
.vs/

# Build results
[Bb]in/
[Oo]bj/

# User-specific files
src/Api/appsettings.json
*.user

# Migrations folder
Migrations/
